$type-black: #333332;
$type-light-gray: #b3b3b1;
$type-medium-gray: #666665;

$light-gray: #f2f2f0;
$medium-gray: #b3b3b1;
$strong-gray: #8e8e93;
$darker-gray: #666665;

$light-green: #72cc86;
$green: #34ad52;
$dark-green: #2b7039;
$blue: #2893E7;

// iOS 7 colors
$pink: #ff2753;
$red: #ff362b;
$orange: #ff9300;
$yellow: #ffcb00;
//$green: #4dd963;
$cyan: #56c9fb;
$dark-cyan: #2dabdd;
//$blue: #007cff;
$dark-blue: #5558d7;